body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    text-align: center;
}

button,
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
}

#quizTopic {
    width: 300px;
}

#quizDifficulty {
    height: 40px;
}

#quizModel {
    height: 40px;
}

#quiz-container {
    display: none;
}

/* Center Image and set size */
#AIImage {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}
